<div *ngIf="!dataLoaded" class="card flex justify-content-center">
  <p-progressSpinner aria-label="loading"></p-progressSpinner>
</div>

<div *ngIf="dataLoaded">

  <h1>Информация о Вашем отеле</h1>
  <div class="field">
    <label for="name">Название:</label>
    <input id="name" type="text" pInputText readonly class="w-full" [value]="hotel.name"/>
  </div>

  <div class="field">
    <label>Рейтинг:</label>
    <p-rating [(ngModel)]="hotel.stars" [readonly]="true" [cancel]="false"></p-rating>
  </div>

  <div class="field">
    <label for="city">Город:</label>
    <input id="city" type="text" pInputText readonly class="w-full" [value]="hotel.city.name"/>
  </div>

  <div class="field">
    <label for="address">Адрес:</label>
    <input id="address" type="text" pInputText readonly class="w-full" [value]="hotel.address"/>
  </div>

</div>
