<div class="grid pl-4">
  <div class="col-12 flex">
    <div class="text-0 text-900 font-bold">
      Имя:
    </div>
    <div class="text-0 text-900 pl-1">
      {{guest.name}}
    </div>
  </div>
  <div class="col-12 flex">
    <div class="text-0 text-900 font-bold">
      Телефон:
    </div>
    <div class="text-0 text-900 pl-1">
      {{guest.phone}}
    </div>
  </div>
  <div class="col-12 flex">
    <div class="text-0 text-900 font-bold">
    Email:
    </div>
    <div class="text-0 text-900 pl-1">
      {{guest.email}}
    </div>
  </div>
</div>
