<div *ngIf="!dataLoaded" class="card flex justify-content-center">
  <p-progressSpinner aria-label="loading"></p-progressSpinner>
</div>
<div *ngIf="dataLoaded && hotels.length === 0" class="flex justify-content-center">
  <img src="assets/no-data-found.png"/>
</div>
<div *ngIf="hotels.length !== 0" class="grid">
  <div class="col-8 col-offset-2">
    <p-dataView #dv [value]="hotels" [sortField]="sortField" [sortOrder]="sortOrder">
      <ng-template pTemplate="header">
        <div class="flex flex-column md:flex-row md:justify-content-between">
          <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Сортировать по расстоянию до центра" (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>
        </div>
      </ng-template>
      <ng-template pTemplate="list" let-hotels>
        <div class="grid grid-nogutter">
          <div class="col-12" *ngFor="let hotel of hotels; let first = first">
            <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4" [ngClass]="{ 'border-top-1 surface-border': !first }">
              <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" [src]="hotel.image" [alt]="hotel.name" />
              <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                  <div class="text-2xl font-bold text-900">{{ hotel.name }}</div>
                  <div class="text-0 text-900">{{ hotel.description }}</div>
                  <p-rating [(ngModel)]="hotel.stars" [readonly]="true" [cancel]="false"></p-rating>
                  <div class="flex align-items-center gap-3">
                                  <span class="flex align-items-center gap-2">
                                      <i class="pi pi-tag"></i>
                                      <span class="font-semibold">{{ hotel.address }}</span>
                                  </span>
                    <span class="flex align-items-center gap-2">
                                      <i class="pi pi-car"></i>
                                      <span class="font-semibold">{{ hotel.distanceToCenter }} метров до центра</span>
                                  </span>
                  </div>
                </div>
              </div>
              <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                <p-button (onClick)="showRooms(hotel.id)" icon="pi pi-fast-forward" label="Выбрать комнату" class="md:align-self-end mb-2 p-button-rounded"></p-button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>
