<div *ngIf="!dataLoaded" class="card flex justify-content-center">
  <p-progressSpinner aria-label="loading"></p-progressSpinner>
</div>
<div *ngIf="dataLoaded">
  <p-toast position="center"></p-toast>
  <div class="grid grid-nogutter">
    <p-table [value]="blackList" styleClass="p-datatable-gridlines p-datatable-sm" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="user.name"><strong>Имя</strong>
            <p-sortIcon field="user.name"></p-sortIcon>
          </th>
          <th pSortableColumn="user.phone"><strong>Телефон</strong>
            <p-sortIcon field="user.phone"></p-sortIcon>
          </th>
          <th pSortableColumn="user.email"><strong>Email</strong>
            <p-sortIcon field="user.email"></p-sortIcon>
          </th>
          <th pSortableColumn="reason"><strong>Причина</strong>
            <p-sortIcon field="reason"></p-sortIcon>
          </th>
          <th pSortableColumn="banDate"><strong>Дата блокировки</strong>
            <p-sortIcon field="banDate"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-hotelBan>
        <tr>
          <td>{{ hotelBan.user.name }}</td>
          <td>{{ hotelBan.user.phone }}</td>
          <td>{{ hotelBan.user.email }}</td>
          <td>{{ hotelBan.reason }}</td>
          <td>{{ hotelBan.banDate }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>




