<p-card>
  <header>
    <p class="text-3xl font-bold">Введите данные о городе</p>
  </header>
  <form [formGroup]="cityForm" (submit)="addCity()">
    <div class="field flex flex-column">
      <label for="name" class="text-900 font-semibold">Название города:</label>
      <input id="name" pInputText [formControl]="name"/>
    </div>
    <div class="flex justify-content-center">
      <p-button label="Добавить" type="submit"></p-button>
    </div>
  </form>
</p-card>
