<p-toast position="center"></p-toast>
<div *ngIf="!dataLoaded" class="card flex justify-content-center">
  <p-progressSpinner aria-label="loading"></p-progressSpinner>
</div>
<div *ngIf="dataLoaded" class="grid">
  <p-dataView #dv [value]="rooms" [sortField]="sortField" [sortOrder]="sortOrder" class="col-8 col-offset-2">
    <ng-template pTemplate="header">
      <div class="flex flex-column md:flex-row md:justify-content-between">
        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Сортировать по цене" (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>
      </div>
    </ng-template>
    <ng-template pTemplate="list" let-products>
      <div class="grid grid-nogutter">
        <div class="col-12" *ngFor="let item of rooms; let first = first">
          <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4" [ngClass]="{ 'border-top-1 surface-border': !first }">
<!--            <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" [src]="'https://drive.google.com/file/d/1BbCog6zdZ-MVjN6lBlEblPJQmzMP1TjD/view?usp=sharing'"/>&ndash;&gt;-->
            <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
              <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                <div class="text-2xl font-bold text-900">{{ item.description }}</div>
                <div class="flex align-items-center gap-3">
                                <span class="flex align-items-center gap-2">
                                    <i class="pi pi-tag"></i>
                                    <span class="font-semibold">{{ item.roomClass.name }}</span>
                                </span>
                </div>
              </div>
              <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                <span class="text-2xl font-semibold">{{ '$' + item.costPerDay }}</span>
                <p-button (onClick)="reservRoom(item.id, item.costPerDay)" icon="pi pi-fast-forward" label="Зарезервировать" class="md:align-self-end mb-2 p-button-rounded"></p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>

</div>
