<p-card>
  <header>
    <p class="text-3xl font-bold">Данные нового администратора</p>
  </header>
  <form [formGroup]="hotelAdminForm" (submit)="addHotelAdmin()">

    <div class="field flex flex-column">
      <label for="email" class="text-900 font-semibold">Email пользователя:</label>
      <input id="email" pInputText [formControl]="email"/>
      <div *ngIf='email?.invalid && (email?.touched || email?.dirty)' class="block p-error">
        <div *ngIf="email?.errors?.['required']" class="error">Введите email</div>
      </div>
    </div>

    <div class="flex justify-content-center">
      <p-button label="Отправить" type="submit" [disabled]="hotelAdminForm.invalid"></p-button>
    </div>
  </form>
</p-card>
