<div *ngIf="!dataLoaded" class="card flex justify-content-center">
  <p-progressSpinner aria-label="loading"></p-progressSpinner>
</div>

<div *ngIf="dataLoaded">
  <p-toast position="center"></p-toast>
  <div class="grid grid-nogutter">
    <p-table [value]="users" styleClass="p-datatable-gridlines p-datatable-sm" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id"><strong>ID</strong>
            <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="name"><strong>Имя</strong>
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="phone"><strong>Телефон</strong>
            <p-sortIcon field="phone"></p-sortIcon>
          </th>
          <th pSortableColumn="email"><strong>Email</strong>
            <p-sortIcon field="email"></p-sortIcon>
          </th>
          <th><strong>Роли</strong></th>
          <th><strong>Действия</strong></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user let-i="rowIndex">
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.email }}</td>
          <td>{{ userService.getUserRolesInString(user) }}</td>
          <td class="w-1">
            <p-button *ngIf="userService.userIsAdmin(user)" class="p-button-icon-only"
                      pTooltip="Разжаловать" severity="danger"
                      icon="pi pi-user-minus" size="small"
                      (onClick)="unAdminUser(user.id, i)"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
