<div class="flex flex-row justify-content-between my-header p-2">
  <div class="mr-2">
    <p-button label="Главная" [link]="true" routerLink="/"></p-button>
  </div>
  <div>
    <div class="mr-2" *ngIf="userService.sessionUserIsLoggedIn(); else elseBlock">
      <p-menu #menu [model]="menuItems" [popup]="true" ></p-menu>
      <button pButton type="button" (click)="menu.toggle($event)" icon="pi pi-bars" label="Меню"></button>
    </div>
    <ng-template #elseBlock>
      <div class="mr-2">
        <p-button label="Вход" [link]="true" routerLink="/sign-in"></p-button>
        <p-button label="Регистрация" [link]="true" routerLink="/sign-up"></p-button>
      </div>
    </ng-template>

  </div>

</div>


