<div class="flex flex-column">

  <div class="pb-2">
    <input pInputText #inputElement type="text" [required]="true" class="w-full" />
  </div>

  <div class="flex justify-content-center">
    <p-button label="Заблокировать"
              [disabled]="!inputElement.checkValidity()"
              (onClick)="onSubmit(inputElement.value)"></p-button>
  </div>

</div>
