<div *ngIf="!dataLoaded" class="card flex justify-content-center">
  <p-progressSpinner aria-label="loading"></p-progressSpinner>
</div>
<p-dataView *ngIf="dataLoaded" #dv [value]="reservations" layout="grid">
  <ng-template pTemplate="grid" let-reservations>
    <div class="grid-nogutter">
      <div class="col-12 border-3" *ngFor="let item of reservations">
        <app-reservation [reservation]="item" [severity]="severity" [status]="status"></app-reservation>
        <p-divider layout="horizontal"></p-divider>
        <app-guest [guest]="item.user"></app-guest>
      </div>
    </div>
  </ng-template>
</p-dataView>
