<div *ngIf="!dataLoaded" class="card flex justify-content-center">
  <p-progressSpinner aria-label="loading"></p-progressSpinner>
</div>

<div *ngIf="dataLoaded">
  <p-toast position="center"></p-toast>
  <div class="grid grid-nogutter">
    <p-table [value]="hotels" styleClass="p-datatable-gridlines p-datatable-sm" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id"><strong>ID</strong>
            <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="name"><strong>Название</strong>
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="city.name"><strong>Город</strong>
            <p-sortIcon field="city.name"></p-sortIcon>
          </th>
          <th pSortableColumn="address"><strong>Адрес</strong>
            <p-sortIcon field="address"></p-sortIcon>
          </th>
          <th pSortableColumn="stars"><strong>Рейтинг</strong>
            <p-sortIcon field="stars"></p-sortIcon>
          </th>
          <th pSortableColumn="description"><strong>Описание</strong>
            <p-sortIcon field="description"></p-sortIcon>
          </th>
          <th pSortableColumn="distanceToCenter"><strong>Расстояние до центра</strong>
            <p-sortIcon field="distanceToCenter"></p-sortIcon>
          </th>
          <th><strong>Действия</strong></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-hotel>
        <tr>
          <td>{{ hotel.id }}</td>
          <td>
            <div class="flex align-items-center justify-content-center">
              <p-button [label]="hotel.name" [link]="true" (onClick)="showHotelRooms(hotel.id)"></p-button>
            </div>
          </td>
          <td>{{ hotel.city.name }}</td>
          <td>{{ hotel.address }}</td>
          <td><p-rating [(ngModel)]="hotel.stars" [readonly]="true" [cancel]="false"></p-rating></td>
          <td>{{ hotel.description }}</td>
          <td>{{ hotel.distanceToCenter }}</td>
          <td class="w-2">
            <p-button class="p-button-icon-only" pTooltip="Добавить комнату"
                      severity="primary" icon="pi pi-plus"
                      (click)="addRoom(hotel.id)" size="small"/>
            <p-button class="p-button-icon-only" pTooltip="Редактировать отель"
                      severity="warning" icon="pi pi-pencil"
                      (click)="editHotel(hotel.id)" size="small"/>
            <p-button class="p-button-icon-only" pTooltip="Список администраторов отеля"
                      severity="help" icon="pi pi-users"
                      (click)="showHotelAdmins(hotel.id)" size="small"/>
            <p-button class="p-button-icon-only" pTooltip="Черный список отеля"
                      severity="secondary" icon="pi pi-ban"
                      (click)="showHotelBans(hotel.id)" size="small"/>
            <p-button class="p-button-icon-only" pTooltip="Добавить администратора"
                      severity="primary" icon="pi pi-user-plus"
                      (click)="addHotelAdmin(hotel.id)" size="small"/>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
