<div class="flex justify-content-center p-5">

  <p-card header="Регистрация" [style]="{
        border: '2px solid black',
        borderRadius: '15px',
        width:'400px'
        }">

    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">

      <div class="field">
        <label for="name">Имя:</label>
        <input id="name" type="text" pInputText formControlName="name" class="w-full"/>
        <div *ngIf='name?.invalid && (name?.touched || name?.dirty)' class="block p-error">
          <div *ngIf="name?.errors?.['required']" class="error">Введите имя</div>
        </div>
      </div>

      <div class="field">
        <label for="email">Email:</label>
        <input id="email" type="email" pInputText formControlName="email" class="w-full"/>
        <div *ngIf='email?.invalid && (email?.touched || email?.dirty)' class="block p-error">
          <div *ngIf="email?.errors?.['required']" class="error">Введите email</div>
          <div *ngIf="email?.errors?.['email']" class="error">Email некорректен</div>
        </div>
      </div>

      <div class="field">
        <label for="phone">Номер телефона:</label>
        <input id="phone" type="text" pInputText formControlName="phone" class="w-full"/>
        <div *ngIf='phone?.invalid && (phone?.touched || phone?.dirty)' class="block p-error">
          <div *ngIf="phone?.errors?.['required']" class="error">Введите номер телефона</div>
        </div>
      </div>

      <div class="field">
        <label for="rawPassword">Пароль:</label>
        <input id="rawPassword" type="password" pInputText formControlName="rawPassword" class="w-full"/>
        <div *ngIf='rawPassword?.invalid && (rawPassword?.touched || rawPassword?.dirty)' class="block p-error">
          <div *ngIf="rawPassword?.errors?.['required']" class="error">Введите пароль</div>
        </div>
      </div>

      <div class="field">
        <label for="confirmPassword">Подтвердите пароль:</label>
        <input id="confirmPassword" type="password" pInputText formControlName="confirmPassword" class="w-full"/>
        <div *ngIf='confirmPassword?.invalid && (confirmPassword?.touched || confirmPassword?.dirty)' class="block p-error">
          <div *ngIf="confirmPassword?.errors?.['required']" class="error">Подтвердите пароль</div>
        </div>
        <div *ngIf="signUpForm.errors?.['passwordMismatch'] && confirmPassword.valid && rawPassword.valid" class="block p-error">
          <div class="error">Пароли должны совпадать</div>
        </div>
      </div>

      <p-button type=submit label="Зарегистрироваться" class="flex justify-content-center flex-wrap" [disabled]="signUpForm.invalid"></p-button>

    </form>

    <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center">
        <div class="text-900">Уже зарегистрированы?</div>
        <p-button label="Войти" [link]="true" routerLink="/sign-in"></p-button>
      </div>
    </ng-template>

  </p-card>

</div>
