  <div class="flex flex-column xl:flex-row p-2">
    <div class="col-2 col-offset-2">
      <p-menu *ngIf="isAdmin" #adminMenu [model]="adminItems" ></p-menu>
    </div>
    <div class="col-5 col-offset-0">
      <router-outlet></router-outlet>
    </div>
  </div>
