<div *ngIf="!dataLoaded" class="card flex justify-content-center">
  <p-progressSpinner aria-label="loading"></p-progressSpinner>
</div>
<div *ngIf="dataLoaded">
  <p-toast position="center"></p-toast>
  <div class="grid grid-nogutter">
    <p-table [value]="blackList" styleClass="p-datatable-gridlines p-datatable-sm" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="user.name"><strong>Имя</strong>
            <p-sortIcon field="user.name"></p-sortIcon>
          </th>
          <th pSortableColumn="user.phone"><strong>Телефон</strong>
            <p-sortIcon field="user.phone"></p-sortIcon>
          </th>
          <th pSortableColumn="user.email"><strong>Email</strong>
            <p-sortIcon field="user.email"></p-sortIcon>
          </th>
          <th pSortableColumn="reason"><strong>Причина</strong>
            <p-sortIcon field="reason"></p-sortIcon>
          </th>
          <th pSortableColumn="banDate"><strong>Дата блокировки</strong>
            <p-sortIcon field="banDate"></p-sortIcon>
          </th>
          <th pSortableColumn="judge.name"><strong>Судья</strong>
            <p-sortIcon field="judge.name"></p-sortIcon>
          </th>
          <th>
            <strong>Действия</strong>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-appBan>
        <tr>
          <td>{{ appBan.user.name }}</td>
          <td>{{ appBan.user.phone }}</td>
          <td>{{ appBan.user.email }}</td>
          <td>{{ appBan.reason }}</td>
          <td>{{ appBan.banDate }}</td>
          <td>{{ appBan.judge.name }}</td>
          <td class="w-1">
            <p-button class="p-button-icon-only" title="Разблокировать" severity="secondary" icon="pi pi-ban" (click)="unBan(appBan.user.id)" size="small"/>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>




