<div class="flex justify-content-center">
  <p-card header="БРОНИРУЙТЕ ЖИЛЬЕ НА HOTELS71" class="w-7 border-3 border-black-alpha-60 border-round-xl m-5">
    <app-search-form></app-search-form>
  </p-card>
</div>
<div *ngIf="localStorage.getItem('user') != null" class="flex justify-content-center">
  <p style="font-size: 24px">Приветствуем вас, <strong>{{JSON.parse(localStorage.getItem('user')!).name}}</strong>!</p>
</div>
