<div class="flex justify-content-center  p-5">

  <p-card [style]="{
        border: '2px solid black',
        borderRadius: '15px',
        width:'450px'
        }">

    <p-tabView>

      <p-tabPanel header="Войти по email">
        <form [formGroup]="signInByEmailForm" (ngSubmit)="signInByEmail()">
          <div class="field">
            <label for="email">Email:</label>
            <input id="email" type="email" pInputText formControlName="email" class="w-full"/>
            <div *ngIf='email?.invalid && (email?.touched || email?.dirty)' class="block p-error">
              <div *ngIf="email?.errors?.['required']" class="error">Введите email</div>
              <div *ngIf="email?.errors?.['email']" class="error">Email некорректен</div>
            </div>
          </div>

          <div class="field">
            <label for="rawPasswordEmail">Пароль:</label>
            <input id="rawPasswordEmail" type="password" pInputText formControlName="rawPassword" class="w-full"/>
            <div *ngIf='rawPasswordEmail?.invalid && (rawPasswordEmail?.touched || rawPasswordEmail?.dirty)' class="block p-error">
              <div *ngIf="rawPasswordEmail?.errors?.['required']" class="error">Введите пароль</div>
            </div>
          </div>

          <p-button type=submit label="Войти" class="flex justify-content-center flex-wrap" [disabled]="signInByEmailForm.invalid"></p-button>

        </form>
      </p-tabPanel>

      <p-tabPanel header="Войти по номеру телефона">

        <form [formGroup]="signInByPhoneForm"  (ngSubmit)="signInByPhone()">
          <div class="field">
            <label for="phone">Номер телефона:</label>
            <input id="phone" type="text" pInputText formControlName="phone" class="w-full"/>
            <div *ngIf='phone?.invalid && (phone?.touched || phone?.dirty)' class="block p-error">
              <div *ngIf="phone?.errors?.['required']" class="error">Введите номер телефона</div>
            </div>
          </div>

          <div class="field">
            <label for="rawPasswordPhone">Пароль:</label>
            <input id="rawPasswordPhone" type="password" pInputText formControlName="rawPassword" class="w-full"/>
            <div *ngIf='rawPasswordPhone?.invalid && (rawPasswordPhone?.touched || rawPasswordPhone?.dirty)' class="block p-error">
              <div *ngIf="rawPasswordPhone?.errors?.['required']">Введите пароль</div>
            </div>
          </div>

          <p-button type=submit label="Войти" class="flex justify-content-center flex-wrap" [disabled]="signInByPhoneForm.invalid"></p-button>

        </form>

      </p-tabPanel>
    </p-tabView>

    <ng-template pTemplate="footer">
      <div *ngIf="failed" class="p-error block flex justify-content-center">
        {{ failedError }}
      </div>
      <div class="flex justify-content-between align-items-center">
        <div class="text-900">Ещё не зарегистрированы?</div>
        <div>
          <p-button label="Создать аккаунт" [link]="true" routerLink="/sign-up"></p-button>
        </div>
      </div>
    </ng-template>

  </p-card>

</div>
