#imageUploadLabel {
  display: block;
  margin: 15px auto;
  border-radius: 5px;
  background-color: black;
  width: 150px;
  padding: 10px;
  color: white;
  cursor: pointer;
  text-align: center;
}
