<div *ngIf="!dataLoaded" class="card flex justify-content-center">
  <p-progressSpinner aria-label="loading"></p-progressSpinner>
</div>

<div class="md:col-offset-3 md:w-6">

  <p-card *ngIf="dataLoaded">
    <header>
      <p class="text-3xl font-bold">Данные отеля</p>
    </header>
    <form [formGroup]="hotelForm" (submit)="submit()">
      <div class="formgrid grid">

        <div class="field col-12">
          <label for="name" class="text-900 font-semibold">Название отеля:</label>
          <input id="name" pInputText [formControl]="name" class="w-full"/>
          <div *ngIf='name?.invalid && (name?.touched || name?.dirty)' class="block p-error">
            <div *ngIf="name?.errors?.['required']" class="error">Введите название</div>
          </div>
        </div>


        <div class="field col-12">
          <img class="w-full sm:w-16rem xl:w-30rem shadow-2 block xl:block mx-auto border-round" [src]="image.value"/>
          <label for="image" id="imageUploadLabel">Выбрать фото</label>
          <input id="image" type="file" class="w-full" (change)="uploadImage(imageInput.files)" [hidden]="true" #imageInput/>
        </div>

        <div class="field col-12 md:col-5">
          <label for="city" class="text-900 font-semibold">Город:</label>
          <p-dropdown #cityDropdown
                      [formControl]="city"
                      pTooltip="Выберите город в котором располагается отель"
                      id="city" [options]="cities"
                      placeholder="Город"
                      optionLabel="name"
                      [style]="{'width':'100%'}"/>
          <div *ngIf='city?.invalid && (city?.touched || city?.dirty)' class="block p-error">
            <div *ngIf="city?.errors?.['required']" class="error">Выберите город</div>
          </div>
        </div>

        <div class="field col-12 md:col-3 flex flex-column justify-content-center">
          <label for="stars" class="text-900 font-semibold">Рейтинг отеля:</label>
          <p-rating id="stars" [formControl]="stars" [cancel]="false" class="w-full mt-1"></p-rating>
          <div *ngIf='stars?.invalid && (stars?.touched || stars?.dirty)' class="block p-error">
            <div *ngIf="stars?.errors?.['required']" class="error">Введите название</div>
          </div>
        </div>

        <div class="field col-12 md:col-4">
          <label for="distanceToCenter" class="text-900 font-semibold">Расстояние до центра:</label>
          <input id="distanceToCenter" pInputText [formControl]="distanceToCenter" class="w-full"/>
          <div *ngIf='distanceToCenter?.invalid && (distanceToCenter?.touched || distanceToCenter?.dirty)' class="block p-error">
            <div *ngIf="distanceToCenter?.errors?.['required']" class="error">Введите расстояние до центра:</div>
          </div>
        </div>

        <div class="field col-12">
          <label for="address" class="text-900 font-semibold">Адрес отеля:</label>
          <input id="address" pInputText [formControl]="address" class="w-full"/>
          <div *ngIf='address?.invalid && (address?.touched || address?.dirty)' class="block p-error">
            <div *ngIf="address?.errors?.['required']" class="error">Введите адрес</div>
          </div>
        </div>

        <div class="field col-12">
          <label for="description" class="text-900 font-semibold">Описание отеля:</label>
          <textarea id="description" pInputText [formControl]="description" class="w-full"></textarea>
          <div *ngIf='description?.invalid && (description?.touched || description?.dirty)' class="block p-error">
            <div *ngIf="description?.errors?.['required']" class="error">Введите описание</div>
          </div>
        </div>
      </div>

      <div class="flex justify-content-center">
        <p-button label="Отправить" type="submit" [disabled]="hotelForm.invalid"></p-button>
      </div>

    </form>



  </p-card>

</div>
