<div *ngIf="!dataLoaded" class="card flex justify-content-center">
  <p-progressSpinner aria-label="loading"></p-progressSpinner>
</div>

<div *ngIf="dataLoaded">
  <p-toast position="center"></p-toast>
  <div class="grid grid-nogutter">
    <p-table [value]="rooms" styleClass="p-datatable-gridlines p-datatable-sm" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id"><strong>ID</strong>
            <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="roomClass.name"><strong>Тип комнаты</strong>
            <p-sortIcon field="roomClass.name"></p-sortIcon>
          </th>
          <th pSortableColumn="description"><strong>Описание</strong>
            <p-sortIcon field="description"></p-sortIcon>
          </th>
          <th pSortableColumn="placesCount"><strong>Количество мест</strong>
            <p-sortIcon field="placesCount"></p-sortIcon>
          </th>
          <th><strong>Действия</strong></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-room>
        <tr>
          <td>{{ room.id }}</td>
          <td>{{ room.roomClass.name }}</td>
          <td>{{ room.description }}</td>
          <td>{{ room.placesCount }}</td>
          <td class="w-1">
            <p-button class="p-button-icon-only" pTooltip="Редактировать комнату"
                      severity="warning" icon="pi pi-pencil"
                      (click)="editRoom(room.id)" size="small"/>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
