<div class="flex flex-column xl:flex-row xl:align-items-start pl-4 pr-4 pt-4 gap-4" [ngClass]="{ 'border-top-1 surface-border': !reservation }">
  <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
    <div class="flex flex-column align-items-center sm:align-items-start gap-3">
      <div class="text-2xl font-bold text-900">{{ reservation.hotel.name }}</div>
      <div class="text-0 text-900">{{ reservation.room.description }}</div>
      <div class="flex align-items-center gap-3">
        <span class="flex align-items-center gap-2">
            <i class="pi pi-ticket"></i>
            <span class="font-semibold">{{ reservation.room.roomClass.name }}</span>
        </span>
        <p-tag [value]="status" [severity]="severity"></p-tag>
      </div>
      <div class="text-0 text-900">Время пребывания: c <strong>{{ startDate }}</strong> по <strong>{{ finalDate }}</strong></div>
    </div>
    <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
      <span class="text-2xl font-semibold">{{ '$' + reservation.totalPrice }}</span>
    </div>
  </div>
</div>
