<div *ngIf="!dataLoaded" class="card flex justify-content-center">
  <p-progressSpinner aria-label="loading"></p-progressSpinner>
</div>
<div class="md:col-offset-3 md:w-6">
  <p-card *ngIf="dataLoaded">
    <header>
      <p class="text-3xl font-bold">Данные комнаты</p>
    </header>
    <form [formGroup]="roomForm" (submit)="submit()" >
      <div class="formgrid grid">
        <div class="field col-12">
          <label for="description" class="text-900 font-semibold">Краткое описание номера:</label>
          <textarea rows=2 id="description" pInputText [formControl]="description" class="w-full"></textarea>
          <div *ngIf='description?.invalid && (description?.touched || description?.dirty)' class="block p-error">
            <div *ngIf="description?.errors?.['required']" class="error">Введите описание</div>
          </div>
        </div>

        <div class="field col-12">
          <label for="city" class="text-900 font-semibold">Класс номера:</label>
          <p-dropdown #roomClassDropdown
            [formControl]="roomClass"
            pTooltip="Выберите город в котором располагается отель"
            id="city" [options]="roomClasses"
            placeholder="Класс номера"
            optionLabel="name"
            [style]="{'width':'100%'}"/>
          <div *ngIf='roomClass?.invalid && (roomClass?.touched || roomClass?.dirty)' class="block p-error">
            <div *ngIf="roomClass?.errors?.['required']" class="error">Выберите класс комнаты</div>
          </div>
        </div>

        <div class="field col-12 md:col-6">
          <label for="costPerDay" class="text-900 font-semibold">Стоимость в день:</label>
          <input id="costPerDay" pInputText [formControl]="costPerDay" class="w-full"/>
          <div *ngIf='costPerDay?.invalid && (costPerDay?.touched || costPerDay?.dirty)' class="block p-error">
            <div *ngIf="costPerDay?.errors?.['required']" class="error">Введите стоимость</div>
          </div>
        </div>

        <div class="field col-12 md:col-6">
          <label for="placesCount" class="text-900 font-semibold">Количество мест в номере:</label>
          <input id="placesCount" pInputText [formControl]="placesCount" class="w-full"/>
          <div *ngIf='placesCount?.invalid && (placesCount?.touched || placesCount?.dirty)' class="block p-error">
            <div *ngIf="placesCount?.errors?.['required']" class="error">Введите название</div>
          </div>
        </div>
      </div>

      <div class="flex justify-content-center">
        <p-button label="Отправить" type="submit" [disabled]="roomForm.invalid"></p-button>
      </div>

    </form>

  </p-card>
</div>
