<div *ngIf="!dataLoaded" class="card flex justify-content-center">
  <p-progressSpinner aria-label="loading"></p-progressSpinner>
</div>
<form *ngIf="dataLoaded" [formGroup]="searchForm" (submit)="submitFn()">
  <div class="formgrid grid grid-nogutter">
      <div class="field col-12 p-1">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-search"></i>
          </p-inputGroupAddon>
        <p-autoComplete placeholder="Город"
                        formControlName="city"
                        pTooltip="Введите название города"
                        [suggestions]="filteredCities"
                        (completeMethod)="filterCity($event)"
                        [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                        optionLabel="name"
        />
        </p-inputGroup>
      </div>

      <div class="field col-12 md:col-3">
        <p-calendar formControlName="startDate"
                    pTooltip="Введите начальную дату пребывания"
                    placeholder="С" dateFormat="yy-mm-dd" [iconDisplay]="'input'" [showIcon]="true"/>
      </div>
      <div class="field col-12 md:col-3">
        <p-calendar formControlName="finalDate"
                    pTooltip="Введите конечную дату пребывания"
                    placeholder="По" dateFormat="yy-mm-dd" [iconDisplay]="'input'" [showIcon]="true"/>
      </div>

      <div class="field col-12 md:col-3">
        <p-dropdown #roomClassDropdown
          formControlName="roomClass"
          pTooltip="Выберите класс апартаментов"
          id="roomClass" [options]="roomClasses"
          placeholder="Класс"
          optionLabel="name"
          [style]="{'width':'100%'}"/>
      </div>

      <div class="field col-12 md:col-3">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-users"></i>
          </p-inputGroupAddon>
          <button (click)="decrease()" type="button" pButton icon="pi pi-minus"></button>
          <input type="text" style="text-align:center" pInputText
                 pTooltip="Количество мест в комнате"
                 formControlName="placesCount" readonly/>
          <button (click)="increase()" type="button" pButton icon="pi pi-plus"></button>
        </p-inputGroup>
      </div>
    </div>

  <div class="flex justify-content-center">
    <p-button label="Найти" type="submit" [disabled]="searchForm.invalid"></p-button>
  </div>

</form>

