<p-card>
  <header>
    <p class="text-3xl font-bold">Данные блокировки</p>
  </header>
  <form [formGroup]="appBanForm" (submit)="addAppBan()">

    <div class="field flex flex-column">
      <label for="email" class="text-900 font-semibold">Email нарушителя:</label>
      <input id="email" pInputText [formControl]="email"/>
      <div *ngIf='email?.invalid && (email?.touched || email?.dirty)' class="block p-error">
        <div *ngIf="email?.errors?.['required']" class="error">Введите email</div>
      </div>
    </div>


    <div class="field flex flex-column">
      <label for="reason" class="text-900 font-semibold">Причина:</label>
      <input id="reason" pInputText [formControl]="reason"/>
      <div *ngIf='reason?.invalid && (reason?.touched || reason?.dirty)' class="block p-error">
        <div *ngIf="reason?.errors?.['required']" class="error">Введите причину блокировки</div>
      </div>
    </div>

    <div class="flex justify-content-center">
      <p-button label="Отправить" type="submit" [disabled]="appBanForm.invalid"></p-button>
    </div>
  </form>
</p-card>
