<h1>Информация об аккаунте</h1>

<div class="field">
  <label for="name">Name:</label>
  <input id="name" type="text" pInputText readonly class="w-full" [value]="user.name"/>
</div>

<div class="field">
  <label for="email">Email:</label>
  <input id="email" type="email" pInputText readonly class="w-full" [value]="user.email"/>
</div>

<div class="field">
  <label for="phone">Phone number:</label>
  <input id="phone" type="text" pInputText readonly class="w-full" [value]="user.phone"/>
</div>
