/*@import "primeng/resources/themes/lara-light-blue/theme.css";*/
/*@import "primeng/resources/themes/bootstrap4-dark-purple/theme.css";*/
@import "primeng/resources/themes/bootstrap4-light-purple/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
  margin: 0px;
}

.p-button-link {
  font-weight: bold;
  font-size: 18px;
}
