<div *ngIf="!dataLoaded" class="card flex justify-content-center">
  <p-progressSpinner aria-label="loading"></p-progressSpinner>
</div>
<p-dataView *ngIf="dataLoaded" #dv [value]="reservations" layout="grid">
  <ng-template pTemplate="grid" let-reservations>
    <p-toast position="center"></p-toast>
    <div class="grid-nogutter">
      <div class="col-12 border-3" *ngFor="let item of reservations">
        <app-reservation [reservation]="item" [severity]="severity" [status]="status"></app-reservation>
        <p-divider layout="horizontal"></p-divider>
        <div class="flex justify-content-between align-items-center">
          <app-guest [guest]="item.user"></app-guest>
          <div>
            <p-button *ngIf="notSessionUser(item.user.id)" class="p-button-icon-only" title="Заблокировать"
                      severity="danger"
                      icon="pi pi-ban"
                      (click)="enterBanReason(item.user.id)"
                      size="small"
                      class="mr-4"
            />
          </div>
        </div>
        <p-divider layout="horizontal"></p-divider>
        <div class="flex justify-content-center pb-1">
          <p-button label="Принять" severity="success" (onClick)="accept(item.id)" size="small" class="pr-3"></p-button>
          <p-button label="Отклонить" severity="danger" (onClick)="reject(item.id)" size="small" class="pl-3"></p-button>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>
