<div *ngIf="!dataLoaded" class="card flex justify-content-center">
  <p-progressSpinner aria-label="loading"></p-progressSpinner>
</div>
<p-dataView *ngIf="dataLoaded" #dv [value]="reservations" layout="grid">
  <ng-template pTemplate="grid" let-reservations>
    <p-toast position="center"></p-toast>
    <div class="grid grid-nogutter">
      <div class="col-12 border-3" *ngFor="let item of reservations">
        <app-reservation [reservation]="item" [severity]="severity" [status]="status"></app-reservation>
        <p-divider layout="horizontal"></p-divider>
        <div class="flex justify-content-center pb-1">
          <p-button label="Оплатить" (onClick)="pay(item.id)"></p-button>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>
