<div *ngIf="!dataLoaded" class="card flex justify-content-center">
  <p-progressSpinner aria-label="loading"></p-progressSpinner>
</div>

<div *ngIf="dataLoaded">
  <p-toast position="center"></p-toast>
  <div class="grid grid-nogutter">
    <p-table [value]="cities" styleClass="p-datatable-gridlines p-datatable-sm" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id"><strong>ID</strong>
            <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="name"><strong>Название</strong>
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th><strong>Действия</strong></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-city>
        <tr>
          <td>{{ city.id }}</td>
          <td>
            <p-button [label]="city.name" [link]="true" (onClick)="showCityHotels(city.id)"></p-button>
          </td>
          <td class="w-1">
            <p-button class="p-button-icon-only"
                      pTooltip="Редактировать"
                      severity="warning"
                      icon="pi pi-pencil" size="small"
                      (onClick)="editCity(city.id)"/>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
